# Dados grandes - não versionar
code/data_output/
dados/stage/
dados/silver/
dados/gold/

# Arquivos de dados em geral
*.parquet
*.csv
*.pkl
# .gitignore atualizado
*.parquet
*.csv
*.pkl
*.gz
.DS_Store
__pycache__/
.ipynb_checkpoints/
.txt

# Dados - não versionar
dados/
order.json.gz

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
dados/*
!dados/gold/
!dados/gold/*
order.json.gz
dados/
.DS_Store
*.parquet
